* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#frutita {
  width: 65px;
  height: 92px;
}
.maincontainerRegistro {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.formularioCreaciónCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90%;
  height: auto;

  font-family: 'Roboto', sans-serif;
  color: #bc0e73;
  font-weight: bold;
  font-size: 12px;
}
.btnCrear {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-new {
  color: #fff;
  background-color: #e32f89;
  border-color: #e32f89;
  border-radius: 50px;
}

.btn-new:hover,
.btn-new:active {
  color: #fff;
  background-color: #c5116b;
  border-color: #c5116b;
}

.btn-new.focus,
.btn-new:focus {
  color: #fff;
  background-color: #c5116b;
  border-color: #c5116b;
  box-shadow: 0 0 0 0.2rem rgb(227 47 137 / 50%);
}

.tituloRegistro {
  font-family: 'Elsie', cursive;
  font-size: 25px;
  color: #bc0e73;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.margen {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #bc0e73;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #e32f89;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}
.subtitleForm {
  font-weight: bold;
  font-size: 20px;
}
.col-form-label {
  width: 100%;
}
.col-sm-10 {
  width: 100%;
}
.mb-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-select,
.form-control {
  border: 1px solid #e32f89;
  border-radius: 12px;
  padding: 5px;
  width: 100%;
}
.btn-primary {
  width: 50%;
  --bs-btn-color: #fff;
  --bs-btn-bg: #E32F89;
  --bs-btn-border-color: #E32F89;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #E32F89;
  --bs-btn-hover-border-color: #E32F89;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #E32F89;
  --bs-btn-active-border-color: #E32F89;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #E32F89;
  --bs-btn-disabled-border-color: #E32F89;
  border: none;
}

.subtitleForm02{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #676767;
  font-weight: bold;
}

