* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
#mainContainerAmig {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}
.alert-danger {
  font-size: 15px;
}
.titleForm {
  font-family: 'Elsie', cursive;
  font-size: 25px;
  color: #bc0e73;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}
.needs-validation {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #bc0e73;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #e32f89;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-select,
.form-control {
  border: 1px solid #e32f89;
  border-radius: 12px;
  padding: 5px;
}

.subtitleForm {
  font-weight: bold;
  font-size: 20px;
}

/* Boton rosa */
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-new {
  color: #fff;
  background-color: #e32f89;
  border-color: #e32f89;
  border-radius: 50px;
}

.btn-new:hover,
.btn-new:active {
  color: #fff;
  background-color: #c5116b;
  border-color: #c5116b;
}

.btn-new.focus,
.btn-new:focus {
  color: #fff;
  background-color: #c5116b;
  border-color: #c5116b;
  box-shadow: 0 0 0 0.2rem rgb(227 47 137 / 50%);
}

.seleccionaImg {
  width: 60%;
  margin-bottom: 20%;
}

@media (min-width: 770px) {
  #mainContainerAmig {
    height: calc(100% -100 px);
  }
  .needs-validation {
    max-width: 700px;
    height: 80%;
  }
  .titleForm {
    font-size: 35px;
  }

}

#inputImg {
  max-width: 200px;
  max-height: 36px;
  border-radius: 12px;
  margin-right: 20px;
}

@media (min-width: 1024px) {
  #inputImg {
    max-width: 300px;
  }
}

.input-group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.seleccionaImg {
  display: flex;
  flex-direction: column;
}

#imageFile {
  padding-top: 20%;
  padding-left: 60%;
  width: 110%;
  height: auto;
 
}