* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Elsie', 'cursive';
  font-size: 25px;
  color: #bc0e73;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

h2 {
  font-family: 'Elsie', cursive;
  color: #bc0e73;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemListaDelete {
  color: white;
  background-color: #bc0e73;
  border: none;
  border-radius: 7px;
  width: 80px;
  height: 30px;
}

.itemListaImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
}

.itemListaElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemListaElement:hover {
  border: #bc0e73 solid 1px;
  border-radius: 10px;
}

.cuerpoListaCarrito {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
  border: 4px solid #f4c8e3;
  height: 70%;
  width: 80%;
  margin: 15px;
  padding-top: 25px;
  padding-bottom: 50px;
  border-radius: 15px;
  overflow: scroll;
}

.totalCompra {
  display: flex;
  justify-content: space-around;
  border: 5px solid #f4c8e3;
  height: 100%;
  width: 80%;
  margin: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
  align-items: center;
}

/*-------------------------------------------*/

@media (min-width: 640px) {
  #list-items {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  h1 {
    font-size: 35px;
  }
}

@media (min-width: 800px) {
  .card {
    width: 380px;
    height: 250px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-price {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  .card-body {
    padding: 7px;
  }
  .totalCompra {
    max-width: 500px;
  }
}

@media (min-width: 1300px) {
  #list-items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .card {
    width: 420px;
    height: 280px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-price {
    font-size: 16px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-body {
    padding: 9px;
  }
}
